<footer class="site-footer container">
    <div class="footer-inner">
        <div class="footer-left">
            <div class="copyright">
                {{@site.title}} © {{date format="YYYY"}}
            </div>
        </div>

        <nav class="footer-nav">
            {{navigation type="secondary"}}
        </nav>

        <div class="footer-right">
            <div class="social">

                <a class="social-item social-item-github"
                    href="https://github.com/bretfisher" target="_blank"
                    rel="noopener noreferrer" aria-label="GitHub">
                    {{> icons/github}}
                </a>

                <a class="social-item social-item-youtube"
                    href="https://www.youtube.com/BretFisherDockerandDevOps" target="_blank"
                    rel="noopener noreferrer" aria-label="YouTube">
                    {{> icons/youtube}}
                </a>

                <a class="social-item social-item-twitter"
                    href="{{twitter_url @site.twitter}}" target="_blank"
                    rel="noopener noreferrer" aria-label="Twitter">
                    {{> icons/twitter}}
                </a>

                <a class="social-item social-item-instagram"
                    href="https://www.instagram.com/bretfisher/" target="_blank"
                    rel="noopener noreferrer" aria-label="Instagram">
                    {{> icons/instagram}}
                </a>

                <a class="social-item social-item-linkedin"
                    href="https://www.linkedin.com/in/bretefisher" target="_blank"
                    rel="noopener noreferrer" aria-label="LinkedIn">
                    {{> icons/linkedin}}
                </a>
            </div>
        </div>
    </div>
</footer>