{{!< default}}

<div class="content-area">
    <main class="site-main">

        <div class="post-feed container medium">
            {{#foreach posts visibility="all" limit="all"}}
                {{> "loop"}}
            {{/foreach}}
        </div>

        {{pagination}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @site.logo}}{{#if @site.cover_image}} with-alt-header{{/if}}{{/if}}{{/contentFor}}